* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

* {
	font-family: 'Didact Gothic', sans-serif;
	font-family: 'Quicksand', sans-serif;
	scroll-behavior: smooth;
	background-color: #FFFFFF;
	margin: 0px;
}

.row {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}


/*
Start of the navigation bar at the top.
*/

.navigation_home {
	width: 100%;
	display: table;
}

#navhome {
	display: flex;
	background: #FFFFFF;
	z-index: 16;
	padding-top: 3vh;
	padding-bottom: 2vh;
	border-bottom: 1.5px solid #EAEAEA;
}

.top_header {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}

.logo_home_nav {
	width: 100%;
	text-align: center;
	margin-top: 0.5vh;
}

.logo_text_nav>a {
	width: 100%;
	text-decoration: none;
	color: #383838;
	font-size: 1.44em;
	letter-spacing: 2px;
	font-weight: bolder;
}

.top_nav {
	width: 100%;
	text-align: center !important;
	align-items: center;
	margin-top: 3vh;
	margin-bottom: 1.5vh;
	padding-left: 6vw;
	padding-right: 6vw;
	display: flex;
	flex-wrap: wrap;
}

.nav_pri {
	width: 22.5%;
	transition: all 0.2s ease-in-out;
}

.nav_pri:hover {
	transform: scale(1.25);
}

.nav_pri>a {
	color: #9E9E9E;
	text-decoration: none;
	font-size: 1.08em;
	letter-spacing: 1px;
	font-weight: bolder;
}

.nav_pri>a:hover {
	color: #383838;
}

#contact_nav {
	text-align: center !important;
	color: #FFFFFF;
	background-color: #00AEEF;
	text-decoration: none !important;
	padding: 0.5rem 1.5rem;
	letter-spacing: 1px;
	border-radius: 0.25rem;
	margin-left: 2vw;
	box-shadow: 5px 5px 25px 0 rgba(46, 61, 73, .28);
	transition: all 0.3s ease;
}

#contact_nav:focus,
#contact_nav:hover {
	box-shadow: 2px 2.5px 5px 0 rgba(46, 61, 73, .2);
}

.sticky {
	width: 100%;
	position: fixed;
	top: 0;
}


/*
End of top navigation bar.
*/

/*
Start of footer section
*/

footer {
	width: 100%;
	background: #DBE2E8;
	padding-left: 4vw;
	padding-right: 4vw;
	padding-top: 12vh;
	padding-bottom: 12vh;
}

footer .row {
	background: #DBE2E8;
}

.contact_head {
	width: 100%;
	color: #383838;
	background: #DBE2E8;
	text-align: center;
	font-size: 1.44em;
	font-weight: bolder;
}

.social_links {
	width: 100%;
	padding-top: 4vh;
	background: #DBE2E8;
	text-align: center;
}

.social_links>a {
	background: #DBE2E8;
	text-decoration: none;
}

.social_links>a>i {
	width: 3.20rem;
	font-size: 1.80em;
	color: #585858;
	background: #DBE2E8;
}

.cpy {
	width: 100%;
	color: #383838;
	background: #DBE2E8;
	text-align: center;
	padding-top: 4vh;
}

.move {
	transition: all 0.2s ease-in-out;
}

.move:hover {
	transform: translateY(-1vh);
}


/*
Applying break-points
*/

@media screen and (min-width: 768px) {
	.top_header {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
	}
	.logo_home_nav {
		width: 45%;
		padding-top: 2vh;
	}
	.top_nav {
		width: 50%;
		float: right;
		align-items: center;
	}
	#navhome {
		padding-top: 1vh;
	}
	.about_head {
		padding-left: 20vw;
		padding-right: 20vw;
	}
	hr {
		width: 5%;
		margin-left: 47.5%;
		margin-right: 47.5%;
	}
	.about_cont {
		padding-left: 20vw;
		padding-right: 20vw;
	}
	.about_desc {
		width: 55%;
	}
	.contact_info {
		width: 45%;
		padding-left: 15%;
	}
	.social_links>a>i {
		width: 5.4rem;
	}
}
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

* {
	font-family: 'Didact Gothic', sans-serif;
	font-family: 'Quicksand', sans-serif;
	scroll-behavior: smooth;
	background-color: #FFFFFF;
	margin: 0px;
}

.row {
	width: 100%;
}

/*
Start of the services provided section.
*/

.services_container {
	width: 100%;
	padding-left: 6vw;
	padding-right: 6vw;
	padding-top: 6vh;
	padding-bottom: 16vh;
	text-align: center;
	align-items: center;
	position: relative;
	overflow: hidden;
	z-index: 10;
}

.services_primary {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}

.sp_text {
	width: 100%;
}

.sp_text>h1 {
	color: #00AEEF;
	background-color: #FFFFFF;
	margin-bottom: 6vh;
	font-weight: bolder;
}

.cert {
	width: 100vw;
	height: 20vh;
	padding-right: 2vw;
	padding-left: 2vw;
}

.ser_col>div>h3 {
	font-size: 1.5em;
	background-color: #FFFFFF;
	padding-left: 3vw;
	padding-right: 3vw;
	margin-bottom: 2vh;
	font-weight: lighter;
	letter-spacing: 1px;
	line-height: 1.56em;
}

.ser_col p {
	margin-left: 8vw;
	margin-right: 8vw;
	letter-spacing: 1px;
	line-height: 1.44em;
}

.icon {
	width: 5rem;
	margin: 0 auto;
	height: 5rem;
	margin-top: 8vh;
	margin-bottom: 4vh;
	text-align: center !important;
	border-radius: 50%;
	background-color: #FFFFFF;
	box-shadow: 5px 5px 25px 0 rgba(46, 61, 73, .2);
}

.icon>i {
	font-size: 2.56rem;
	align-items: center;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

.all_text {
	color: #5c5a5a;
}

.fa-paint-brush,
.des_text {
	color: #FF5483;
}

.fa-code-branch,
.dev_text {
	color: #15C26B;
}

.fa-shipping-fast,
.dep_text {
	color: #A951ED;
}

.grow {
	transition: all 0.2s ease-in-out;
}

.grow:hover {
	transform: scale(1.25);
}


/*
End of the services provided section.
*/

.cta_mid {
	width: 100%;
	padding-left: 8vw;
	padding-right: 8vw;
	padding-top: 12vh;
	padding-bottom: 12vh;
	align-items: center;
	text-align: center;
	background: linear-gradient(to right, #56CCF2, #2F80ED);
	overflow: auto;
}

#cta_head {
	width: 100%;
	font-size: 2.16em;
	color: #FFFFFF;
	background-color: transparent;
	font-weight: bolder;
}

#cta_desc {
	width: 100%;
	font-size: 1em;
	color: #FFFFFF;
	background-color: transparent !important;
	padding-left: 8vw;
	padding-right: 8vw;
	margin-top: 3vh;
	letter-spacing: 1px;
	line-height: 1.44em;
	font-weight: lighter;
}

.sp_button {
	background: transparent;
}

.sp_button>a {
	text-decoration: none;
}

.button {
	width: 16rem;
	border: 0.125rem solid transparent;
	background-color: #FFFFFF;
	color: #00AEEF;
	text-align: center;
	font-size: 1em;
	padding: 1rem;
	cursor: pointer;
	margin-top: 8vh;
	margin-bottom: 2vh;
	letter-spacing: 3px;
	text-decoration: none;
	font-weight: bolder;
	border-radius: 0.375rem;
	transition: all 0.3s ease;
	box-shadow: 8px 10px 20px 0 rgba(46, 61, 73, .36);
}

.button:focus {
	box-shadow: 2px 2.5px 5px 0 rgba(46, 61, 73, .2);
}

.button:hover {
	box-shadow: 2px 2.5px 5px 0 rgba(46, 61, 73, .2);
}

/*
Applying break-points
*/

@media screen and (min-width: 768px) {
	.top_header {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
	}
	.logo_home_nav {
		width: 45%;
		padding-top: 2vh;
	}
	.top_nav {
		width: 50%;
		float: right;
		align-items: center;
	}
	#navhome {
		padding-top: 1vh;
	}
	.services_container {
		padding-left: 2vw;
		padding-right: 2vw;
	}
	.sp_text>h1 {
		margin-top: 4vh;
	}
	.ser_col {
		display: flex;
		flex-wrap: wrap;
	}
	.ser_col p {
		margin-left: 2vw;
		margin-right: 2vw;
	}
	.icon {
		margin-top: 2vh;
	}
	.cert {
		padding-right: 2vw;
		padding-left: 2vw;
		height: 20vh;
		width: 33.3vw;
	}
	#cta_desc {
		font-weight: bolder;
	}
	.featured_heading {
		margin-top: 4vh;
		margin-bottom: 2vh;
	}
	.shoppingo,
	.fincal {
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
		padding-top: 4vh;
	}
	.phead,
	.pimage {
		width: 50%;
	}
	.fincal>.phead {
		order: 2;
	}
	.pimage>img {
		width: 75%;
		max-width: 75%;
	}
	.social_links>a>i {
		width: 5.4rem;
	}
}